<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="header">
        <h1>HighlightHub</h1>
    </div>
    <div class="content">
        <form action="/upload/" enctype="multipart/form-data" method="post">
            <input name="file" type="file" required>
            <input type="submit">
        </form>
    </div>
    
    <div class="footer">
        <p>&copy; HighlightHub. All rights reserved.</p>
    </div>
</body>
</html>
